body {

    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5dab6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #000000;
    padding: 20px;
    color:#ffffff;
}
header h1{
    font-size: 30px;
    color: #fffd7b;
    text-align: center;
}
header p{
    text-align:center;
    color: #ffffff;
}
h1 {
    font-size: 60px;
    
}

p{
    font-size: 20px;
}
button {
    
    font-size: 20px;
    padding: 15px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1b1b1b;
    margin:20px;
}
button:hover {
    background-color: #5c5c5c;
}
footer{
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
}
a{
    font-size:20px;
    border-radius: 5px;
    background-color: #000000;
    color:#ffffff;
    padding: 15px;
    margin: 15px;
}
a:hover{
    font-size:20px;
    border-radius: 5px;
    background-color: #4b4b4b;
    color:#ffffff;
    padding: 15px;
    margin: 15px;
}